body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form, .wallet-section, #map, #linkContainer {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Ajusta el campo de entrada para que no se salga del contenedor */
form input {
    max-width: 100%;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

/* Ajusta el botón también para que se vea bien */
form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #218838;
}
#map {
    width: 100%; /* O el ancho que prefieras */
    height: 400px; /* Altura definida para que el mapa sea visible */
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estilos para el Mensaje de Validación */
#message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
    max-width: 600px; /* Limita el ancho del mensaje */
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera para el mensaje */
    
    /* Centrar el mensaje en la página */
    margin-left: auto;
    margin-right: auto;
}


/* Estilos para el enlace */
#linkContainer {
    text-align: center;
}

#linkContainer a {
    color: #007bff;
    text-decoration: none;
}

#linkContainer a:hover {
    text-decoration: underline;
}

.wallet-section {
    text-align: center;
}

.wallet-section button {
    margin-top: 5px;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.wallet-section button:hover {
    background-color: #218838;
}

